{% extends "base.html" %}
{% block content %} 
    <main class="d-flex align-items-center justify-content-center mt-5">
        <div class="container bg-beck ">
            <h1 class="text-center">Ihsan Habibullah's Biography</h1>
            <center><img src="../static/images/senku.jpg" alt="dino" width="190px" height="190px"></center>
            <div class="container " data-bs-theme="light">
            
        <h4 class="text-left mt-5 "> Halo nama saya ihsan habibullah orang yang telah membuat website ini. Saya dilahirkan di Tanjung Morawa, 10 Maret 2009.
                saya tinggal di tembung sampai saya berusia 2 tahun setengah, lalu pindah ke amplas hingga umur saya berusia 4 tahun. saya menempuh jenjang pendidikan pertama saya TK al-hidayah.
                lalu menlanjutkan ke SDN sukarakyat selama 6 tahun, lalu saya menlanjutkan ke pondok Pesantren yang sama dengan Pak ijal, yaitu Madarasah Ulumul Qur'an Langsa. selama 3 tahun lamanya.
                dan sekarang saya di sekolah tercinta yaitu SMKN 1 Karang Baru. kunjungi salah satu akun medsos saya :
            </h4>
    <h4><a link rel="Instagram" href="https://www.instagram.com/ihsan_hbllh_14/"><i class="bi bi-instagram ig"></i>&nbsp;Instagram</a></h4>
    <h4><a link rel="Github" href="https://github.com/ihsanhabibullah"><i class="bi bi-github git"> Github</a></i></h4>

        </div> 
        </div>
    </main>
    {% endblock %}