{% extends "base.html" %}
{% block content %} 
    <main class="d-flex align-items-center justify-content-center">
        <div id="carouselExampleRide" class="carousel slide shadow rounded overflow-hidden" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://i.pinimg.com/1200x/44/e2/6e/44e26ec5ff6029faa65023ea0a141891.jpg" width="300px" height="700" class="d-block w-100" alt="cover dr stone">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
        <h1 class="text-center">{{isi}}</h1>    
        <h5>First Web</h5>
        <p>Deskripsi singkat First Web saya.</p>
        <p><i class="bi bi-person-raised-hand"></i></p>
        </div>
        
    </div>
        
    </main>
    {% endblock %}